@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "League Spartan", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "League Spartan", sans-serif;
  
  --color-natural-bg: #000000;
  --color-natural-ink: #EAB308;
  --color-natural-olive: #EAB308;
  --color-natural-muted: #FFFFFF;
  --color-natural-border: #27272A;
  --color-natural-footer: #09090B;

  --font-weight-normal: 400;
  --font-weight-medium: 600;
  --font-weight-bold: 800;
  --font-weight-black: 900;
}

:root {
  background-color: var(--color-natural-bg);
  color: var(--color-natural-ink);
}

body {
  margin: 0;
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: #27272A;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #EAB308;
}
